In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv('result/original.csv')
df

,Repository,File Name,Class,Start Line,End Line,Displacement,Level
0,tests,test_basic.py,Simple List,51,51,35,A1
1,tests,test_basic.py,Simple List,656,656,11,A1
2,tests,test_basic.py,Simple List,681,681,11,A1
3,tests,test_basic.py,Simple List,723,723,13,A1
4,tests,test_basic.py,Simple List,741,741,13,A1
...,...,...,...,...,...,...,...
13760,flask,views.py,Return,191,191,8,A1
13761,flask,views.py,Return,110,110,16,A1
13762,flask,views.py,Return,116,116,16,A1
13763,flask,views.py,Simple Class,16,135,0,B1
13764,flask,views.py,Inherited Class from View,138,191,0,B1

In [3]:
df_c = df[df['Level'].isin(['C1', 'C2'])]
df_c

,Repository,File Name,Class,Start Line,End Line,Displacement,Level
1086,tests,test_basic.py,Generator Expression,1248,1248,28,C1
1662,tests,test_basic.py,Import're' module,2,2,0,C1
2238,tests,conftest.py,Generator Function (yield),33,33,4,C1
2239,tests,conftest.py,Generator Function (yield),77,77,4,C1
2240,tests,conftest.py,Generator Function (yield),87,87,4,C1
...,...,...,...,...,...,...,...
13233,flask,testing.py,Super Function,298,298,15,C2
13450,flask,testing.py,Generator Function (yield),170,170,8,C1
13551,flask,helpers.py,Simple List Comprehension,371,371,15,C1
13657,flask,helpers.py,Generator Function (yield),106,106,12,C1
13664,flask,views.py,Super Function,166,166,8,C2

In [4]:
directory = 'result'

if not os.path.exists(directory):
    os.makedirs(directory)

In [5]:
df_c.to_csv('result/c-level-pycefr.csv')