In [1]:
import pandas as pd

In [2]:
file_path = 'result/ori-replaced-edited.csv'
data = pd.read_csv(file_path)

replacement_counts = data.groupby(['Class', 'Replaced Element']).size().reset_index(name='Count')

most_common_replacements = replacement_counts.sort_values(by='Count', ascending=False)
most_common_replacements

                         Class      Replaced Element  Count
3         Generator Expression     Simple Assignment     16
4         Generator Expression      Simple Atributte     13
7         Generator Expression           Simple List     13
5         Generator Expression       Simple For Loop     12
14  Generator Function (yield)                Return     10
..                         ...                   ...    ...
31           Import're' module  Generator Expression      1
32           Import're' module                Return      1
33           Import're' module     Simple Assignment      1
34           Import're' module  Simple If statements      1
60          map' call function           Simple List      1

[61 rows x 3 columns]

In [19]:
check_replacement = data.groupby(['Class', 'Replaced Element', 'Same Result/ Can Replaced']).size().reset_index(name='Count')
check_replacement

,Class,Replaced Element,Same Result/ Can Replaced,Count
0,Generator Expression,For Loop with 1 List to iterate,False,1
1,Generator Expression,For Loop with Tuple as name,True,3
2,Generator Expression,Return,True,2
3,Generator Expression,Simple Assignment,False,3
4,Generator Expression,Simple Assignment,True,13
...,...,...,...,...
61,Super Function,Simple Atributte,True,9
62,map' call function,Simple Assignment,True,1
63,map' call function,Simple Atributte,True,1
64,map' call function,Simple For Loop,True,1
65,map' call function,Simple List,True,1

In [4]:
len(most_common_replacements['Class'].unique())

9

In [5]:
most_common_replacements['Class'].unique()

array(['Generator Expression', 'Generator Function (yield)',
       'Super Function', 'Simple Dictionary Comprehension',
       'Simple List Comprehension',
       'List Comprehension with 1If statements', "map' call function",
       "Import're' module", "Import'importlib' module"], dtype=object)

## Generator Expression (16)

In [14]:
genex = most_common_replacements[most_common_replacements['Class'] == "Generator Expression"]
genex

                   Class                 Replaced Element  Count
3   Generator Expression                Simple Assignment     16
4   Generator Expression                 Simple Atributte     13
7   Generator Expression                      Simple List     13
5   Generator Expression                  Simple For Loop     12
9   Generator Expression                assert' exception      5
6   Generator Expression             Simple If statements      5
10  Generator Expression                 break' statement      3
8   Generator Expression                     Simple Tuple      3
1   Generator Expression      For Loop with Tuple as name      3
2   Generator Expression                           Return      2
0   Generator Expression  For Loop with 1 List to iterate      1
11  Generator Expression             range' call function      1

In [27]:
# genex_check = check_replacement[check_replacement['Class'] == "Generator Expression"].sort_values(by='Count').sort_values(by='Same Result/ Can Replaced')
# genex_check

Generator Expression will use
- Simple Assignment
- Simple Attribute
- Simple List
- Simple For Loop


For example
```python
lower_items_list = []
for lowerkey, keyval in self._store.items():
    lower_items_list.append((lowerkey, keyval[1]))
return iter(lower_items_list)
```

- Simple Attribute: ```.append```
- Simple List: ```[]```
- Simple Assignment: ```lower_items_list = ```
- Simple For Loop: ```for lowerkey, keyval in self._store.items():```

## Super Function (9)

In [15]:
supfunc = most_common_replacements[most_common_replacements['Class'] == "Super Function"]
supfunc

             Class  Replaced Element  Count
56  Super Function  Simple Atributte      9
55  Super Function            Return      3

Super Function turns to be
- Simple Attribute

example, 
```python
        super().__init__()
```
turn to be
```python
BaseAdapter.__init__(self)
```

This can be use but it will <u>less flexible and can lead issue</u>

## Simple Dictionary Comprehension (6)

In [16]:
simdict = most_common_replacements[most_common_replacements['Class'] == "Simple Dictionary Comprehension"]
simdict

                              Class   Replaced Element  Count
45  Simple Dictionary Comprehension  Simple Dictionary      6
46  Simple Dictionary Comprehension    Simple For Loop      6
43  Simple Dictionary Comprehension  Simple Assignment      6
44  Simple Dictionary Comprehension   Simple Atributte      5
42  Simple Dictionary Comprehension             Return      3
47  Simple Dictionary Comprehension        Simple List      1

Simple Dictionary Comprehension change to be
- Simple Dictionary
- Simple For Loop
- Simple Assignment
- Simple Attribute

For example
```python
cookie_dict = {}
for cookie in cj:
    cookie_dict[cookie.name] = cookie.value
```
- Simple Dictionary: ```{}```
- Simple For Loop: ```for cookie in cj:```
- Simple Assignment: ```cookie_dict =```
- Simple Attribute: for this not need so much, depends on the code

## Simple List Comprehension (5)

In [17]:
simlist = most_common_replacements[most_common_replacements['Class'] == "Simple List Comprehension"]
simlist

,Class,Replaced Element,Count
52,Simple List Comprehension,Simple List,5
50,Simple List Comprehension,Simple Atributte,5
49,Simple List Comprehension,Simple Assignment,5
51,Simple List Comprehension,Simple For Loop,4
48,Simple List Comprehension,For Loop with Tuple as name,1
53,Simple List Comprehension,Simple Tuple,1
54,Simple List Comprehension,Simplified incremental Assignment with increas...,1

Simple List Comprehension turns to be
- Simple List
- Simple Attribute
- Simple Assignment
- Simple For Loop/For Loop with Tuple as name
- Simple Tuple

For example,
```python
history = []
for resp in gen:
    history.append(resp)
```
- Simple List: ```[]```
- Simple Attribute: ```.append```
- Simple Assignment: ```history=```
- Simple For Loop: ```for resp in gen:```

For other that depends on code structures
```python
updated_combos = []
for var, scheme in _proxy_combos:
    updated_combos.append((var.upper(), scheme))
_proxy_combos += updated_combos
```
- For Loop with Tuple as name: ```for var, scheme in _proxy_combos:```
- Simple Tuple: ```(var.upper(), scheme)```

## List Comprehension with 1If statements (2)

In [24]:
listcom1if = most_common_replacements[most_common_replacements['Class'] == "List Comprehension with 1If statements"]
listcom1if

                                     Class             Replaced Element  Count
37  List Comprehension with 1If statements             Simple Atributte      2
36  List Comprehension with 1If statements            Simple Assignment      2
39  List Comprehension with 1If statements         Simple If statements      2
40  List Comprehension with 1If statements                  Simple List      2
41  List Comprehension with 1If statements                 Simple Tuple      1
38  List Comprehension with 1If statements              Simple For Loop      1
35  List Comprehension with 1If statements  For Loop with Tuple as name      1

List Comprehension with 1If statements will replced by
- Simple Attribute
- Simple Assignment
- Simple If statements
- Simple List
- Simple Tuple
- Simple For Loop/For Loop with Tuple as name

For example
```python
keys_to_move = []
for k in self.adapters:
    if len(k) < len(prefix):
        keys_to_move.append(k)
```
- Simple Attribute: ```.append```
- Simple Assignment: ```keys_to_move =```
- Simple If statements: ```if len(k) < len(prefix):```
- Simple List: ```[]```
- Simple For Loop: ```for k in self.adapters:```

For other that depends on code structures
```python
none_keys = []
for k, v in merged_setting.items():
    if v is None:
        none_keys.append(k)
```
- Simple Tuple: ```k, v```
- For Loop with Tuple as name: ```for k, v in merged_setting.items():```

## map' call function (1)

In [26]:
mapcall = most_common_replacements[most_common_replacements['Class'] == "map' call function"]
mapcall

                 Class   Replaced Element  Count
58  map' call function   Simple Atributte      1
59  map' call function    Simple For Loop      1
57  map' call function  Simple Assignment      1
60  map' call function        Simple List      1

map' call function will replaced by
- Simple Attribute
- Simple For Loop
- Simple Assignment
- Simple List

For example
```python
cryptography_version_parts = cryptography_version.split(""."")
cryptography_version = []
for part in cryptography_version_parts:
    cryptography_version.append(int(part))
```
- Simple Attribute: ```.append```
- Simple For Loop: ```for part in cryptography_version_parts:```
- Simple Assignment: ```cryptography_version_parts =```, ```cryptography_version = ```
- Simple List: ```[]```

In [6]:
## Generator Function (yield) (14)